@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css');


/* Header styles */
h1 {
    color: #333;
}
h2 {
    font-family: 'Bitter', sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 0.03em;
    width: 100%;
    /* border-bottom: 1px solid grey; */
    margin-top: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
h3{
    font-family: 'Bitter', sans-serif;
}
h4 {
    color: #8a6a2e;
    font-family: 'Bitter', sans-serif;
}

h5 {
    font-family: 'Bitter', sans-serif;
}

h6 {
    font-family: 'Bitter', sans-serif;
}

blockquote {
    color: #426162;
    font-style: normal;
    font-family: 'Bitter', sans-serif;

}

p {
    color: #333;
    font-size: 15px;
    font-family: 'Bitter', sans-serif;  
}

small {
    font-size: 12px;
    font-family: 'Bitter', sans-serif;  
}

body {
    background-color: #f0f2f6;
    line-height: 1.5;
    font-family: 'Bitter', sans-serif;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top-left-radius: 5px solid #ccc;
    border-style: 5px solid #ccc;
    font-size: 1.2em;
    font-family: Garamond, serif;
    text-align: center;

}
blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}
/* Styles for project boxes */
.project-box {
    border: 2px solid #c39c29;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff; /* Optional: Adds a background color */
}

.emoji {
    font-size: 2em;
}    
/* List styles for removing bullets and displaying items inline */
/* ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

li {
    margin-right: 5px;
} */

/* Social button styles */
.social-btn {
    display: inline-block;
    text-decoration: none;
    margin-right: 8px;
    color: #333; /* Sets the text color, adjust as needed */
    background-color: #eee; /* Optional: Adds background color to buttons */
    padding: 5px 10px; /* Adds padding inside the buttons */
    border-radius: 5px; /* Optional: Rounds the corners of the buttons */
}

/* Additional styles for SVG icons within social buttons */
.icon {
    fill: var(--color-primary, #96502a); /* Sets the icon color, with a fallback */
    width: 24px; /* Sets the icon size */
    height: 24px;
}


/* Targets the tab labels */
.css-1siy2j7 {
    justify-content: center; /* Center the tab labels */
}


/* Footer styles */
.footer {
    position: relative;
    bottom: 0;
    width: auto;
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;
    padding: 3px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.project-container {
    cursor: pointer;
    transition: transform .2s; /* Animation */
}
.project-container:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
